*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    color: var(--while-color);
    font-size: 1.4rem;
    background-color:  #f8fafb;
}
:root{
    --while-color:#ffffff;

}
a{
    text-decoration: none;
    color: #627483;
}
a:hover{
    color: var(--while-color);
}
