.form-login {
    background-color: rgba(49, 57, 65, 0.7);
    border-radius: 5px;
    width: 300px;
    height: 370px;
    margin-top: 170px;


}

html,
body {
    color: #FFFFFF;
}
.content{
    width: 1520px;
    height: 1200px;
    margin: auto;
    background-image: url(/style/img/backgroudbase.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;

}

.form-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
}

.form-content {
    width: 90%;
    margin: auto;
}

.btn-submit {
    width: 100%;
    background-color: #009eda;
    margin-bottom: 30px;
}